<header class="header">
  <div class="container">
    <div class="row align-items-center">
      
      <div class="col-2 logo-container">
        <img src="/logo.png" alt="Logo" height="100px" />
      </div>

      
      <div class="col-8 nav-container">
        <nav class="navbar navbar-expand-lg navbar-light justify-content-center">
          <div class="navbar-nav">
            <a routerLink="/home" routerLinkActive="gras" class="nav-item nav-link">Accueil</a>
            <a routerLink="/allcheese" routerLinkActive="gras" class="nav-item nav-link">Tout les fromages</a>
            <a class="nav-item nav-link">Carte</a>
          </div>
        </nav>
      </div>

      
      <div class="col-2 about-container text-end">
        <a routerLink="/apropos" routerLinkActive="active" class="btn btn-outline-primary">A propos</a>
      </div>
    </div>
  </div>
</header>