<div class="welcome-section">
  <div class="welcome-box">
    <p>Bienvenue sur FranceFromage, le premier site qui référence l’entièreté des fromages français !</p>
  </div>
</div>

<div class="fromage-section">
  <h2>Voici le fromage aléatoire du moment !!</h2>
  <div class="row fromage-container">
    <div class="col-3">
      @if (fromage_random) {
      <app-fromage [fromage]="fromage_random"></app-fromage>
      } @else {
      <div class="spinner-container">
        <div class="spinner"></div>
        <p class="loading-text">Chargement du fromage...</p>
      </div>
      }
    </div>
  </div>
</div>